{% extends "base.html" %}
{% block title %}
    <title>文章</title>
{% endblock %}
{% block style %}
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }

        img, a img {
            border: 0;
            margin: 0;
            padding: 0;
            max-width: 590px;
            width: expression(this.width>590?"590px":this.width);
            max-height: 590px;
            height: expression(this.height>590?"590px":this.height);
        }
    </style>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% for post in postList %}
                <div class="panel panel-success" onclick="window.location.href='{% url "post" post.id %}'"
                     style="background-color: #F9F9F9">
                    <div class="panel-heading text-center"
                         style="background-color: #ffffff;color: black;">{{ post.name }}</div>
                    <div class="panel-body">
                        {% autoescape off %}
                            {{ post.content|truncatechars_html:100 }}
                        {% endautoescape %}
                    </div>
                </div>
            {% endfor %}
            <nav aria-label="Page navigation ">
                <ul class="pager">
                    {% if postList.has_previous %}
                        <li class="previous">
                            <a href="?page={{ postList.previous_page_number }}">
                                <span aria-hidden="true">&larr;</span> Older
                            </a>
                        </li>
                    {% endif %}
                    {% if postList.has_next %}
                        <li class="next">
                            <a href="?page={{ postList.next_page_number }}">
                                Newer <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item text-center" style="border:none;margin: auto;border-top: #d6e9c6 solid 2px">
                    分类
                </a>
                {% for category in categoryList %}
                    <a class="list-group-item float_left" style="border:none;width: 150px;margin: auto"
                       onclick="window.location.href='{% url "category" category.id %}'">
                        <p class="float_left">{{ category.cate_name }}</p>
                        <p class="float_right">({{ category.get_post_num }})</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

