<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>随风潜入夜</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

{% if image %}
    {% for x in image %}
        <div class="container-full"
             style="background:url(
                     {{ MEDIA_URL }}{{ x.image }}) top repeat-y;background-size:100% ;min-height: 1000px">
    {% endfor %}
{% else %}
    <div class="container-full"
         style="background:url({% static 'back1.jpg' %}) top repeat-y;background-size:100% 100%;min-height: 1000px">
{% endif %}
<div class="container">

    <div class="col-md-12 column">
        <div class="row clearfix">

            <div class="col-md-8 column" style="padding-top: 30px;min-height: 700px">
                <ul class="list-unstyled" style="opacity:0.8;
  filter:alpha(opacity=80); /* IE8 及更早版本 */ background-color:#ffffff;padding-top: 10px;padding-left: 30px;padding-right: 30px">
                    <li style="font-weight:bold;color:#000000;min-height: 700px">
                        <h2 class="text-center">
                            {{ post.name }}
                        </h2>
                        <p>
                            &nbsp;&nbsp;{% autoescape off %}
                            {{ post.content }}
                        {% endautoescape %}
                        </p>

                    </li>
                    <p class="text-right" style="padding-bottom: 20px;padding-right: 5px">
                        <a href="{% url 'index' %}">返回首页</a>
                    </p>
                </ul>

            </div>
            <div class="col-md-4 column" style="padding-top: 30px">
                <ul class="list-unstyled" style="opacity:0.8;
  filter:alpha(opacity=80); /* IE8 及更早版本 */ background-color:#ffffff;padding-top: 10px;padding-left: 30px;padding-right: 30px">
                <li class="text-primary" style="font-size: 20px;padding-bottom: 10px">评论区</li>
                    {% for comment in all_comment %}
                        <li class="text-primary">{{ comment.user.username }}</li>
                        <li style="font-weight:bold;color:#000000">
                            {% autoescape off %}
                                {{ comment.content }}
                            {% endautoescape %}
                        </li>
                        <li class="text-right" style="font-weight:bold;color:#000000;padding-bottom: 5px">
                            {{ comment.add_time }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row clearfix">


            <div class="col-md-8 column">
                <form action="{% url 'add_comment' %}" method="post">
                    <!-- 加载编辑器的容器 -->
                    <script id="js-pl-textarea" name="content" type="text/plain" style="height: 120px"></script>
                    <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="发表评论">
                    {% csrf_token %}
                </form>
                {#                    <form action="{% url 'add_comment' %}" method="post">#}
                {#                        <textarea id="js-pl-textarea" class="" placeholder="扯淡、吐槽、表扬、鼓励……想说啥就说啥！"></textarea>#}
                {#                        <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="发表评论">#}
                {#                        {% csrf_token %}#}
                {#                    </form>#}


            </div>

            <div class="col-md-4 column">
            </div>
        </div>

    </div>
</div>
</div>
<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type="text/javascript" src="{% static 'ueditor/ueditor.config.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ueditor/lang/zh-cn/zh-cn.js' %}"></script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('js-pl-textarea', option);

</script>
<script>
    var option = {
        toolbars: [['emotion']]
    };
    var ue = UE.getEditor('js-pl-textarea', option);
    $('#js-pl-submit').on('click', function () {
        var content = ue.getContent();
        $.ajax({
            cache: false,
            type: "POST",
            url: "/add_comment/",
            data: {
                'content': content, 'post_id': {{ post.id }}
            },
            async: true,
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {
                if (data.status === 'fail') {
                    if (data.msg === '用户未登录') {
                        window.location.href = "{% url 'login' %}";
                    } else {
                        alert(data.msg)
                    }

                } else if (data.status === 'success') {
                    window.location.reload();//刷新当前页面.
                }
            }
        })
    })


</script>
<script>
    $(window).ready(function () {
        $('#menutest2').dropdown();
    });
    $(function () {

        $("li").click(function () {

            $(this).addClass("active").siblings().removeClass("active");

        })
    })
</script>
</body>
</html>