{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>文章</title>
{% endblock %}

{% block style %}
    <style>
        .header_title {
            background-color: #ffffff;
            color: black;
            border-color: #d6e9c6;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .box {
            display: flex;
            justify-content: space-between;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-success" 
                 style="min-height: 500px;background-color: #F9F9F9">
                <div class="panel-heading text-center"
                     style="background-color: #ffffff;color: black;">{{ post.name }}</div>
                <div class="panel-body">
                    {% autoescape off %}
                        {{ post.content|safe }}
                    {% endautoescape %}
                </div>
            </div>
            <div style="display: block;width: 100%" id="message_list">
                {% for comment in post.get_comment_all %}
                    <div class="float_left" style="width: 10%">
                        <img src="{% static 'th.jpg' %}" alt="" width="50px" height="50px">
                    </div>
                    <div class="float_left" style="width: 90%">
                        <div class="panel panel-default">
                            <div class="panel-heading box">
                                <p>{{ comment.nick_name }} 发表于: {{ comment.create_time }}</p>
                                <p onclick="re_message(this)" data-content="{{ comment.md_content }}">回复</p>
                            </div>
                            <div class="panel-body">
                                {% autoescape off %}
                                    {{ comment.content|safe }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">* 昵称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputNickName" placeholder="昵称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">* 邮箱</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">* 留言内容</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" id="inputContent" placeholder="留言内容"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-success float_right" id="message">留言</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4">.col-md-6</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item text-center" style="border:none;margin: auto;border-top: #d6e9c6 solid 2px">
                    分类
                </a>
                {% for category in categoryList %}
                    <a class="list-group-item float_left" style="border:none;width: 150px;margin: auto"
                       onclick="window.location.href='{% url "category" category.id %}'">
                        <p class="float_left">{{ category.cate_name }}</p>
                        <p class="float_right">({{ category.get_post_num }})</p>
                    </a>
                {% endfor %}
            </div>
            <!--<div class="panel panel-info">
                <div class="panel-heading" style="background-color: #ffffff;">
                    <h3 class="panel-title text-center">分类</h3>
                </div>
                <ul>
                    {% for category in categoryList %}
                        <li class="float_left" style="width: 150px;margin: auto">
                            <div class="panel-body" onclick="window.location.href='{% url "category" category.id %}'">
                                <p class="float_left">{{ category.cate_name }}</p>
                                <p class="float_right">{{ category.get_post_num }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>-->
        </div>
    </div>
{% endblock %}
{% block js %}

    <script>
        $("#message").on("click", function () {
            var nickName = $("#inputNickName").val();
            var email = $("#inputEmail").val();
            var content = $("#inputContent").val();
            if (nickName == null || email == null || content == null) {
                alert("参数不足")
            }
            $.ajax(
                {
                    url:{% url "comment" %},
                    data: {nick_name: nickName, email: email, content: content, post_id:{{ post.id }}},
                    type: "POST",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (result) {
                        if (result.code === 0) {
                            $("#inputNickName").val("");
                            $("#inputEmail").val("");
                            $("#inputContent").val("");
                            $("#message_list").before(
                                "<div class=\"float_left\" style=\"width: 10%\">\n" +
                                "                        <img src=\"{% static 'th.jpg' %}\" alt=\"\" width=\"50px\" height=\"50px\">\n" +
                                "                    </div>\n" +
                                "                    <div class=\"float_left\" style=\"width: 90%\">\n" +
                                "                        <div class=\"panel panel-default\">\n" +
                                "                            <div class=\"panel-heading\">" + nickName + " 发表于: " + "刚刚" + "</div>\n" +
                                "                            <div class=\"panel-body\">\n" +
                                "                                " + content + "\n" +
                                "                            </div>\n" +
                                "                        </div>\n" +
                                "                    </div>"
                            )
                            console.log("good")
                        } else {
                            alert(result.msg)
                        }
                    }

                }
            )
        })

        function re_message(e) {
            console.log($(e).attr("data-content"));
            var comment = $(e).attr("data-content");
            var comment_list = comment.split("\n");
            var comment_array = Array();
            for (var i = 0; i < comment_list.length; i++) {
                comment_array.push("> " + comment_list[i] + "\n")
            }
            console.log(comment_array.join(""));
            var comments = comment_array.join("");
            $("#inputContent").val(comments + '\n');
            $("#inputContent").focus()
        }
    </script>
{% endblock %}
