<!DOCTYPE HTML>
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>随风潜入夜</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        .dropdown-menu {
            min-width: 80px;
        }
    </style>
</head>

<body>
{% if image %}
    {% for x in image %}
        <div class="container-full"
             style="background:url(
                     {{ MEDIA_URL }}{{ x.image }}) top repeat-y;background-size:100% 100%;min-height: 1000px">
    {% endfor %}
{% else %}
    <div class="container-full"
         style="background:url({% static 'back1.jpg' %}) top repeat-y;background-size:100% 100%;min-height: 1000px">
{% endif %}
<div class="container">

    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-2 column" style="padding-right: 0px;padding-left: 70px;padding-top: 30px">
            </div>
            <div class="col-md-8 column"
                 style="padding-top: 30px;padding-left: 0px;padding-right: 0px;min-height: 500px">
                <div style="opacity:0.8;
  filter:alpha(opacity=80); /* IE8 及更早版本 */ background-color:#ffffff;padding-top: 10px;padding-left: 30px;padding-right: 30px;min-height: 500px;padding-bottom: 10px">
                    <h2 class="text-center text-primary">个人中心</h2>
                    <form class="form form-horizontal" action="{% url 'user_datail' %}" method="post" id="userform"
                          name="'userform">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">姓名</h3>
                                </div>
                                <div class="panel-body">
                                    {{ request.user.username }}
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">性别</h3>
                                </div>
                                <div class="panel-body">
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="male"
                                                                                {% if request.user.gender == "male" %}checked="checked"{% endif %}>男</label>
                                    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender"
                                                                                      value="female"
                                                                                      {% if request.user.gender == "female" %}checked="checked"{% endif %}>女</label>
                                    <p id="userfail" class="text-danger"
                                       style="font-size: 50px">{{ user_form.errors.gender }}</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">地址</h3>
                                </div>
                                <div class="panel-body">
                                    <input type="text" value="{{ request.user.address }}" class="form-control" name='address'
                                           id="address"
                                           placeholder="{{ request.user.address }}">
                                    <br>
                                    不要把我的地址暴露出来了,追我的人在我家都排满.现在不需要了.
                                    <p id="userfail" class="text-danger"
                                       style="font-size: 50px">{{ user_form.errors.address }}</p>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">签名</h3>
                                </div>
                                <div class="panel-body">
                                    {% if request.user.info %}
                                        <input type="text" class="form-control" name='info' value="{{ request.user.info }}"
                                               id="info"
                                               placeholder="{{ request.user.info }}">
                                    {% else %}
                                        <input type="text" value="{{ request.user.info }}"  class="form-control" name='info'
                                               id="info"
                                               placeholder="我的签名是什么">
                                    {% endif %}
                                    <p id="userfail" class="text-danger"
                                       style="font-size: 50px">{{ user_form.errors.info }}</p>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title">密码</h3>
                                </div>
                                <div class="panel-body">
                                    <a data-toggle="modal" data-target="#myModal">
                                        修改密码
                                    </a>

                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">最后一次登录</h3>
                                </div>
                                <div class="panel-body">
                                    {{ request.user.last_login }}
                                </div>
                            </div>
                        </div>
                        <input class="btn" type="submit" id="jsStayBtn" value="修改"/>
                        {% csrf_token %}
                    </form>
                    <p class="text-right" style="padding-bottom: 20px;padding-right: 5px">
                        <a href="{% url 'index' %}">返回首页</a>
                    </p>

                </div>


            </div>
            <form class="form form-horizontal" action="{% url 'user_datail' %}" id="forgetform" name="forgetform"
                  method="post"
                  role="form" enctype="application/x-www-form-urlencoded">

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" style="margin-top: 150px;width: 350px">
                        <div class="modal-content">
                            <div class="modal-header" style="padding-bottom: 0px">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title  text-center" id="myModalLabel">
                                    修改密码
                                </h4>
                                <p class="text-danger" id="loginfail"></p>
                            </div>
                            <div class="modal-body">
                                <input type="password" class="form-control" name='password'
                                       id="password"
                                       placeholder="请记住这个密码你以后会用！">
                                <p id="passwordfail" class="text-danger"
                                   style="font-size: 50px">{{ resetpwd_form.errors.password }}</p>

                                <input type="password" class="form-control" name='password2'
                                       id="password2"
                                       placeholder="请再次记住这个密码你以后真的会用！">
                                <p id="password2fail" class="text-danger"
                                   style="font-size: 50px">{{ resetpwd_form.errors.password2 }}</p>
                                {% csrf_token %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                                <a class="btn btn-primary" id="jsLeftBtn">修改密码</a>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </form>

            <div class="col-md-2 column" style="padding-left: 0px;padding-top: 20px">
            </div>
        </div>
    </div>
</div>
</div>
<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script>
    $(function () {
        $('#jsuserbtn').on('click', function () {

            var address = $("#address").val();
            var info = $("#info").val();
            var gender = $("#gender").val();
            if (gender === "") {
                $('#genderfail').text('你的性别不能为空');
                return
            } else if (address === "") {
                $('#addressfail').text('不用怕你的地址泄露');
                return
            } else if (info === "") {
                $('#infofail').text('让更多人了解你，大胆写写你的介绍');
                return
            }
            $.ajax({
                cache: false,
                type: "POST",
                url: "/user/",
                data: $('#userform').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        window.location.href = window.location.href
                    } else if (data.status === 'fail') {
                        $('#userfail').text(data.msg)
                    }
                }
            });
        });
    })

</script>
<script>
    $(function () {
        $('#jsLeftBtn').on('click', function () {
            var password = $("#password").val();
            var password2 = $("#password2").val();
            if (password === "") {
                $('#passwordfail').text('你的老密码不能为空');
                return
            } else if (password2 === "") {
                $('#password2fail').text('你的新密码不能为空');
                return
            }
            $.ajax({
                cache: false,
                type: "POST",
                url: "/resetpwd/",
                data: $('#forgetform').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        window.location.href = "{% url 'index' %}";
                    } else if (data.status === 'fail') {
                        $('#password2fail').text(data.msg)
                        $('#passwordfail').text(data.msg)
                    }
                }
            });
        });
    })

</script>
</body>
</html>