{% extends "users/users_form_base.html" %}
{% block title %}
    <title>注册</title>
{% endblock %}
{% block content %}
    <h5 class="text-center">注册</h5>
    <form action="{% url 'users:register' %}" method="post" class="blog-login-form m-auto">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <button class="btn btn-primary btn-block" type="submit">注册</button>
        </div>
    </form>
    <p class="text-center">
        <a href="/login/">登录</a>
        |
        <a href="/">首页</a>
    </p>
{% endblock %}